$red: #B92025;
$blue: #004282;
$deep-blue: #1A1448;
$dark-blue: #060034;
$gold: #EFD898;
$dark-gold: #d8c592;

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


table.dataTable thead .sorting {
    background-image: url("./../images/sort.png");
    background-position-x: 95%;
}

table.dataTable thead .sorting_asc {
    background-image: url("./../images/sort-asc.png");
    background-position-x: 95%;
}

table.dataTable thead .sorting_desc {
    background-image: url("./../images/sort-desc.png");
    background-position-x: 95%;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
    margin: 0;
}

.breadcrumb-item {
    font-weight: 600;

    & > a {
        color: $deep-blue;
        font-weight: 600;
    }
}

td > a {
    color: $blue;
    text-decoration: underline;

    &:hover {
        color: $deep-blue;
        text-decoration: underline;
    }
}


a:hover {
    text-decoration: none;
}

.auth-container {
    font-family: 'Roboto', sans-serif;
    background-image: url("./../images/banner.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.global-container {
    display: flex;
}

.form-container {
    background-color: $red;
    width: 50%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: solid 2px $gold;
    font-size: 14px;

    .wrapper {
        width: 360px;
    }

    form {
        margin-top: 50px;
    }

    label {
        color: $gold;
        font-size: 16px;
        margin-bottom: .2rem;
    }

    input.form-control {
        border: solid 2px $gold;
        border-radius: 10px;
    }

    .btn-auth {
        width: 100%;
        padding: 10px 0;
        border-radius: 10px;
        border: solid 1px $gold;
        background-color: $deep-blue;
        color: $gold;
        margin-top: 40px;
        transition: all .2s;

        &:hover {
            background-color: $dark-blue;
            border-color: $dark-gold;
            color: $dark-gold;
        }
    }

    .forgot-password {
        color: $gold;
        border-bottom: solid 1px;
        padding-bottom: 3px;
        font-size: 14px;
        text-decoration: none;

        &:hover {
            color: $dark-gold;
        }
    }
}


aside {
    background-color: $deep-blue;
    width: 270px;
    min-height: 100vh;
    padding-bottom: 30px;
    transition: all .2s;

    .company-logo {
        background-color: $red;
        height: 70px;
        line-height: 70px;
        padding-left: 15px;
        position: fixed;
        width: 270px;
        box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
    }

    nav {
        margin-top: 70px;
    }

    nav > ul > li > a {
        border-left: solid 3px transparent;

        &:hover {
            border-left: solid 3px $gold;
            // padding-left: 12px;
        }
    }

    nav > ul > li > a.active {
        background-color: $dark-blue;
        border-left: solid 3px $gold;
    }

    ul {
        padding: 0;
        margin: 0;

        li {
            list-style: none;

            a {
                color: $gold;
                display: inline-block;
                width: 270px;
                background-color: $deep-blue;
                padding: 13px 12px;
                transition: all .2s;
                font-size: 14px;

                i {
                    display: inline-block;
                    width: 20px;
                }

                &:hover {
                    color: $dark-gold;
                    text-decoration: none;
                    background-color: $dark-blue;
                }

                &.active {
                    background-color: $dark-blue;
                }
            }

            li a {
                padding: 5px 5px 5px 40px;
            }
        }
    }
}

main {
    background-color: #EFEFEF;
    flex-grow: 1;
}

header {
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    position: fixed;
    width: calc(100% - 270px);
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.2);
    z-index: 2;
    transition: all .2s;
}

.toggle-sidenav a {
    display: inline-block;
    height: 70px;
    width: 70px;
    line-height: 70px;
    text-align: center;
    font-size: 20px;
    color: $dark-blue;
    transition: all .2s;

    &:hover {
        // background-color: $blue;
        color: $deep-blue;
    }
}

.user-profile {
    & > a {
        display: inline-block;
        height: 70px;
        line-height: 70px;
        padding: 0 15px;
        color: $deep-blue;

        &:hover {
            text-decoration: none;
        }

        .user-photo {
            display: inline-block;
            width: 30px;
            height: 30px;
            border-radius: 50%;
            border: solid 1px $deep-blue;
            margin-right: 10px;
        }

        .user-name {
            font-size: 14px;
            margin-right: 10px;
        }
    }

    .dropdown-menu.show {
        margin-top: 0;
        right: 0;
    }

    .dropdown-item {
        color: $dark-blue;
    }
}

.main-content {
    padding: 15px;
    margin-top: 70px;
}

.action-n-filter {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.action-section a {
    display: inline-block;
    background-color: $deep-blue;
    padding: 7px 20px;
    border-radius: 20px;
    font-size: 14px;
    color: $gold;
    transition: all .2s;

    &:hover {
        background-color: $dark-blue;
        color: $dark-gold;
    }
}

.dataTables_length {
    display: none;
}

.dataTables_filter {
    position: relative;
    // right: 0;
    // top: -38px;

    label {
        color: white;
        position: absolute;
        right: 0;
        top: -63px;

        input {
            border-radius: 5px;
            border: solid 2px lightgray;
            width: 250px;
            background-image: url(./../images/icon_search.png);
            background-repeat: no-repeat;
            background-position: 2% center;
            padding-left: 25px;
        }
    }
}

table.dataTable thead th, table.dataTable thead td {
    background-color: $gold;
    padding-left: 10px;
    padding-right: 10px;
}

table.dataTable thead th:first-child {
    border-top-left-radius: 5px;
}

table.dataTable thead th:last-child {
    border-top-right-radius: 5px;
}

.modal-header {
    background-color: $deep-blue;
    color: $gold;

    .close {
        opacity: 1;
        color: $gold;
    }
}

.modal-body {
    .dataTables_filter, .dataTables_info, .dataTables_paginate {
        display: none;
    }

    label {
        font-weight: 600;
    }
}

legend {
    font-size: 18px;
    font-weight: 500;
}

.modal-footer {
    padding: 0;

    button {
        margin: 0;
        width: 50%;
        border: none;
        color: $gold;
        padding: 15px;
        transition: all .2s;
        font-weight: 500;

        &.false {
            background-color: $red;
            border-bottom-left-radius: 4px;
            border-right: solid 1px $gold;

            &:hover {
                background-color: #a01419;
            }
        }

        &.true {
            background-color: $blue;
            border-bottom-right-radius: 4px;
            border-left: solid 1px $gold;

            &:hover {
                background-color: #0a3967;
            }
        }
    }

}

.breadcrumb {
    background-color: white;
    border: 1px solid rgba(0,0,0,.125);
}

.breadcrumb-item+.breadcrumb-item::before {
    content: ">";
}

.card-header {
    background-color: $deep-blue;
    color: $gold;
    font-weight: 500;
}

tbody tr td:first-child {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.fa-edit {
    color: $deep-blue;
}

.fa-trash-alt {
    color: $red;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
    padding: 0;
}

.page-item.active .page-link {
    background-color: $blue;
    border-color: $blue;
}

.page-link {
    color: $blue;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
    border: none;
    background: none;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    border: none;
    background: none;
}

select {
    -webkit-appearance: none;
    background-image: url("./../images/icon_up-arrow-small.png");
    background-repeat: no-repeat;
    background-position: 98% center;
}

.period {
    background-image: url(./../images/calendar.png);
    background-repeat: no-repeat;
    background-position: 98% center;
}

.has-ul .fa-angle-down {
    float: right;
    margin-top: 5px;
    text-align: center;
    transition: all .2s;
}

.has-ul.active .fa-angle-down {
    transform: rotate(180deg);
}

aside.zero-width {
    width: 0;
}

header.full-width {
    width: 100%;
}